[Unit]
Description=Spring Java SOAP Client
After=syslog.target

[Service]
User=sa
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/opt/SpringClientSoap

#path to executable. 
#executable is a bash script which calls jar file
ExecStart=java -jar /opt/SpringClientSoap/SpringClientSoap-1.0-SNAPSHOT.jar

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
